/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: #1a120b;
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  /* color: #3c2a21; */
  font-size: 1.1rem;
  gap: 1.5rem;
}

.outer {
  border: 2px dashed #e5e5cb7a;
  width: 400px;
  min-height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  opacity: 1;
  /* background-color: cornsilk; */
  transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
}

button {
  padding: 10px 20px;
  font-size: 1.3rem;
  border-radius: 12px;
  border-width: 2px;
  cursor: pointer;
  background-color: transparent;
  border-color: orange;
  color: cornsilk;
  transition: border-color 0.7s ease, scale 0.7s ease, rotate 0.7s ease;
  /* transition: background-color 0.5s ease scale 0.5s linear; */
}

button:hover {
  /* background-color: lightgreen; */
  scale: 0.9;
  border-color: aqua;
  rotate: 10deg;
}

.duck-skin {
  cursor: pointer;
  transition: fill 0.4s ease-in-out;
}

.duck-skin:hover {
  fill: aquamarine;
}

.duck-icon {
  transition: scale 0.4s ease;
  animation: bounce 4s linear infinite;
}

.duck-icon:hover {
  scale: 0.9;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* //prefers-reduced-motion for inclusivity */

#box {
  min-width: 120px;
  min-height: 120px;
  background-color: purple;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation-name: color-wheel;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* set up keyframes for animation */
@keyframes color-wheel {
  0% {
    background-color: purple;
  }
  20% {
    background-color: rgb(163, 5, 118);
  }
  40% {
    background-color: rgb(214, 87, 201);
  }
  60% {
    background-color: rgb(158, 77, 211);
  }
  80% {
    background-color: rgb(72, 0, 255);
  }
  100% {
    background-color: rgb(88, 12, 155);
  }
}

.spinner {
  min-width: 100px;
  min-height: 100px;
  border: 5px solid white;
  border-radius: 50%;
  border-top-color: pink;
  animation-name: spinning;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spinning {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

#heart-icon {
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.6;
  }
  100% {
    scale: 1;
  }
}

#side-drawer {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  min-height: 100vh;
  /* transition: transform 0.5s ease-in-out; */
  transition: translate 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-right: 2px dashed #e5e5cb7a;
}

#side-drawer ul > li {
  padding: 10px;
}

.box {
  animation-name: my-animation;
  animation-duration: 5s;
  animation-iteration-count: 3;
  background-color: purple;
}
@keyframes my-animation {
  0% {
    background-color: purple;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: orange;
  }
  75% {
    background-color: brown;
  }
  100% {
    background-color: purple;
  }
}
