/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: #1a120b;
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  /* color: #3c2a21; */
  font-size: 1.1rem;
  gap: 1.5rem;
}

.outer {
  border: 2px dashed #e5e5cb7a;
  width: 400px;
  min-height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  opacity: 1;
  /* background-color: cornsilk; */
  transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
}

button {
  padding: 10px 20px;
  font-size: 1.3rem;
  border-radius: 12px;
  border-width: 2px;
  cursor: pointer;
  background-color: transparent;
  border-color: orange;
  color: cornsilk;
  transition: border-color 0.7s ease scale 0.7s ease rotate 0.7s ease;
  /* transition: background-color 0.5s ease scale 0.5s linear; */
}

button:hover {
  /* background-color: lightgreen; */
  scale: 0.9;
  border-color: aqua;
  rotate: 10deg;
}

.duck-skin {
  cursor: pointer;
  transition: fill 0.4s ease-in-out;
}

.duck-skin:hover {
  fill: aquamarine;
}

.duck-icon {
  transition: scale 0.4s ease;
}

.duck-icon:hover {
  scale: 0.9;
}
