*{
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    /* padding:40px */
    display: flex;
}
/* p is child of body */

p {
    border: 1px solid rgb(157, 178, 218);
    width: 300px;
    min-height: 50px;
    text-align: center;
    line-height: 150px;
    /* only specify when width/height should be explicitly set */
    background-color: aliceblue;
    padding: 10px;
    margin: 10 10 10 10;
    /* put in center */
    box-sizing: border-box;
 
}

span {
    font-weight: bold;
    /* display: none; */
    /* display: block; */
}

