*{
  background-color: white;
  color: black;
}



body{
    font-family: "Ibarra Real Nova", serif;
    font-optical-sizing: auto;
    font-weight: 3;
    font-style: normal;
}


/* divide layout for organization purposes */
.frame {
  border: 2px dashed pink;
  width: 800px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

header{
  background-color: pink;
  width:  800px;
  height: 70px;
  text-align: center;
  justify-content: center;
  font-size:3cap;
}


.outer {
  border: 2px dashed #7474597a;
  /* min-width: 350px;
  min-height: 200px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 1;
  /* background-color: cornsilk; */
  transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
}



h1 {
  padding: 5px;
  font-size: 1.5rem;
  font: italic;
  margin-left: 20px;
}

h2 {
  font-size: 1.2rem;
}

#title {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}


#contents {
  flex-direction: row;
  align-items: start;
  padding-left: 30px;
  padding-right: 30px;
}

#listbox {
  width: 70%;
  height: 500px;
  justify-content: center;
  align-items: center;
}

#productdisplay {
  flex-direction: row;
  min-width: 100%;
  min-height: 70%;
}

.smallouter {
  border: 2px dashed #7474597a;
  /* min-width: 200px;
    min-height: 300px; */
  min-width: 40%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0%;
  justify-content: center;
  align-items: center;
}

#productlist{
  min-width: 40%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 5px;
  background-color: #e5aacc;
}

.clothes {
  flex-direction: column;
  /* border: 2px dashed pink; */
  /* min-width: 100%; */
  min-height: 100px;
  min-width: none;
  gap: 0px;
}

#tryon {
  justify-content: space-around;
  height: 500px;
  width: 224px;;
}

#dropbox {
  min-width: 200px;
  height: 400px;
  background-image: url("mannequin.jpg");
}

#subtotal {
  min-height: 25%;
  min-width: 100%;
  padding: 0px;
}

