body {
    background-color: #1a120b;
    display: flex;
    text-align: center;
    margin: auto;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #e5e5cb;
    /* color: #3c2a21; */
    font-size: 1.1rem;
  }

  .outer {
    border:1px dashed rgb(255, 255, 255);
    width: 400px;
    height: 200px;
    color: #1a120b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .limebox {
    background-color: rgb(0, 30, 255);
    padding: 10px;
    flex: 1;
  }

  .coralbox {
    background-color: rgb(255, 0, 217);
    padding: 10px;
    flex: 1;
  }

  .plumbox  {
    background-color: rgb(129, 250, 0);
    padding: 10px;
    flex: 1;
  }