/*  
 terminologies
 {} -curly braces
 [] -square brackets
 () -round brackets

 > -right arrow
 < -left arrow
 / -backslash

 cmd + / -comment out   (add notes!) */

 * {
    color: #000;
    font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
 }
/* this is a universal selector that will control all the elements!*/

h1 {
    color: #c04646;
    font-size: 2rem;
}

 /* h2{
    color: #e37cec;
 } */

p, h2 {
   color: pink; 
 }
/* this is a element based selector. it can specify which style to apply! */

 .my-class{
    color: lightblue;
 }

 /* classes apply style to multiple elements! 
 element and classes are commonly used for styling*/

 #my-id {
    color: magenta;
 }
 /* id applies style to an individual element within a class!
 id is used more in java */

p  strong {
    color: black;
}

 #name { 
   text-align: center;
   text-transform: lowercase;
   

}
/* relationship directed selector  > will only change strong that is a direct child of p  */

/* span {
    display: block;
} */
/* this will make inline element to be a block element */

h1 {
  text-align: center;
   width: 90%;
   border: 15px dotted pink;
   padding: 50px; 
   margin: 20px;
   font-style: italic;
   font-weight: bold;
   font-family: lucida;
   font-family: "Kalnia Glaze", serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
   font-variation-settings:
     "wdth" 100;
}

h2 {
   font-size: 1.6rem;
   padding: 15px;
   text-transform: uppercase;
   font-weight: lighter;
   
   
}

h3 {
   font-size: 1.4rem;
   padding: 10px;
}

p {
   line-height: 1.2;
   color: lightblue;
   background-image: ;
   
}

a {
   color:blue
 }

a:hover {
   color: hotpink;
}