* {
    padding: 0;
    margin: 0;
}

.container {
    /* align the aspect ratio with 4:3 phone screen */
    padding: 0;
    aspect-ratio: 4 / 3;
    width: 500px;
    position: relative;
    overflow: hidden;

    /* background image */
    background-image: url('eblast.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}

.content {
    width: 100%;
    aspect-ratio: 1200 / 75;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}

.button {
    display: flex;
    width: 100px;
    height: 32px;
    border: 0;
    outline: none;
    background-color: transparent;
    /* border: red 10px solid; */
       background-image: url('eblast-btn.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    cursor: pointer;
}

